* {
    box-sizing: border-box;
}

body {
   background-color: #D7D7D7; 
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.main-header {
    border-bottom: 3px solid black;
    background-color: #A994F2;
}

#header-shade {
    padding: 10px;
    background-color: #7459C3;
}

.snes-logo {
    margin-left: 40px;
}

.name {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.container {
    margin-top: 30px;
    padding: 0 30px;
}

.container2 {
    margin-top: 50px;
    padding: 0 20px;
}

.xp {
    margin-bottom: 40px;
}

#purple {
    background-color: #A994F2;
}

#white {
    background-color: white;
}

.nes-kirby {
    margin-top: 50px;
}

.js-logo {
    height: 70px;
    color: #F7DF1E;
    fill: currentColor;
}

.p5-logo {
    height: 70px;
    color: #ED225D;
    fill: currentColor;
}

#white, #purple {
    margin-bottom: 50px;
}

.nes-progress {
    height: 25px;
}

footer {
    padding: 10px;
    background-color: #A994F2;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
}

.footer-shade {
    padding: 10px 0;
    background-color: #7459C3;
}

