* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8a470+0,efd9ac+100 */
    background: #d8a470;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d8a470 0%, #efd9ac 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d8a470 0%, #efd9ac 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d8a470 0%, #efd9ac 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8a470', endColorstr='#efd9ac', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    font-family: sans-serif;
}

.calculator {
    background-color: rgb(133, 169, 209);
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 8px 0 rgb(89, 118, 151), 0 8px 10px rgb(83, 83, 83);
    text-align: center;
}

.result {
    background-color: white;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 25px;
    overflow: hidden;
    box-shadow: inset 0 3px 0 rgb(89, 118, 151), inset 0 0 8px grey;
}

ul {
    padding: 0;
    margin: 15px 0;
}

ul li {
    list-style: none;
    background-color: grey;
    padding: 10px;
    width: calc((100% / 4) - 4px);
    float: left;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;
    box-shadow: inset 0 -2px 0 rgb(89, 118, 151), inset 0 0 3px grey;
}

ul li:active {
    position: relative;
    bottom: 0.5px;
    box-shadow: inset 0 0 3px 0.5px grey;
}

ul li:nth-child(16) {
    height: 81px;
    line-height: 62px;
}

ul li:last-child {
    margin-top: -40px;
    width: 228px;
}

.credit {
    display: inline-block;
    font-size: 0.75rem;
    text-align: right;
    position: relative;
    top: 12px;
    z-index: -1;
}